
<mat-toolbar class="navb">
    <div>
        <span>Proceed To Friends Galary </span>
    </div>
    
  </mat-toolbar>
  <br>
<br>
<div class="picture">
    <p class="welcome">Welcome to Photos and Articles Gallary of Harshit </p>
</div>
<br>
<br>



<div>
    <div class="picture">
        <img src="/assets/images/Harshit.jpg">
    </div>
    <br>
    <div class="picture">
        <span class="name ">Harshit Gupta</span>
    </div>
    <div class="picture">
        <p class="desc">A troglodyte</p>
    </div>
    <br>
    
</div>
