

  img{
      border-radius: 50%;
      image-orientation: flip;
      justify-content: center;
      align-items: center;
  }

  .example-card {
    max-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .example-header-image {
    justify-content: center;
    align-items: center;

  }
  