.bg{
  background-image: url("https://lh3.googleusercontent.com/zNhBfp3wFq7MLZHjMguKfTfcRGf6Sw35mfCpGVifujn4xGU0Vzsl3V8ESSXfCXThwDtM0ZAilb3Lu-ZTPUcS4fVF4RLE5TL7qv4f9mkStop36ihF5dT4u0eb4gIpv10LP9nEgKQrsL_BNWrO5u5GyD-gAwifM4UMWyVZKRm_O1aFeARq42BJIEPD50JFXjBYH8BDu7tP17IwqVjZbBohnndG7Vf5bYm2IXi8uHusZ-0T6ckl0rBzG_C_4o1hxOuwHbl3ttHdKsytsS4ALXW2WSx6Wr-q536E66FzwHoJkLlS7iRC60tkcWixzpTNZcfmGhXr0RBDkjTolrq2eGTHYAs-xDEe6q3tuHIdtkAPZzNqfYFpXVGC1EuDGnFJ2tcYS2GHy-7EGzWcz0vtLEtcQ5818dBcGYpGE5qRBT6DBDHLzi5NxQSpo7QE4AJXvYCr8KH7PvGWQaTvRBnPOP95m1asto6LzL1pPkmYYRJQIc0yEDh35jiRmaIYFky4JDdrhsodsAn-NIPdINUoM4HWyCqZ325fXq-40jXezurnI4k1ncvMZd0h7szhxmInZkXCx7OsR3cnbB35z8VD9OtYXoIzewoBtkl8vVp5m3HImj6q3Rq4wYWw8spHUM8t2LbdtzhUWJFi8H8jq0dQj8UqhSBJoFTMWG6QLw2AcD4SD16hi9YN0lLWwJDnLngI=w834-h625-no");

  /* Full height */
  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-color: azure;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}